body{

    background-color:#a2b3d8;
    background-image:url("../../images/cbg4.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

h1.title {
   color: white;
   text-shadow: 5px 5px 5px #000000;
   font-family: verdana;
}

p.text {
  margin-left: 50px ;
  margin-right: 50px;
}

#page-wrap { 
    width: 600px; 
    margin: 15px auto; 
    position: relative; 
  }
  
  #sidebar { 
    width: 250px; 
    position: fixed; 
    margin-left: 35px; 
    margin-top: 100px;
  }

  ul.ulnav{
border-radius: 25px;
list-style-type:none;
padding: 0;
overflow: hidden;
background-color:rgb(103, 118, 255);
margin-left: 20px;
margin-top: 150px;
position: fixed;
}
li.linav{
  float: down;
}
li.linav a{
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.linav a.active{
  display: block;
  background-color:rgb(43, 88, 233);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.linav a:hover{
  background-color: snow;
}
span.subtitle{
  font-size: 10pt;
  color: rgb(46, 46, 46);
  font-family: verdana;
}
span.maintitle{
  font-size: 20pt;
  color: rgb(46, 46, 46);
  font-family: verdana;
}
a.nav{
  font-size: 12pt;
  color: rgb(196, 248, 255);
  font-family: verdana;
  text-decoration: none;
}
a.nav:hover{
  font-size: 12pt;
  color: rgb(255, 255, 255);
  font-family: verdana;
  text-decoration: none;
  font-style: italic;
}
img.cat2 {
  border-radius: 10px;
}
img.edit1{
  margin-left: 30px;
  border-radius: 10px;
}
#page_wrapper{
  border-radius: 10px;
  border: 2px solid #333333;
  padding: 10px;
  height: 150px;
  width: 1500px;
  background: rgba(65, 65, 65, 0.74);
}
p.p_content{
  font-size: 14pt;
  color: #ffffff;
  font-family: Verdana;
  background-color: #999999;
  padding: 5px;
  border: 2px solid #333333;
}
span.font1{
  font-size: 20pt;
  color: #ffffff;
  font-family: verdana;
  font-weight: bold;
}


#project_container{
  border-radius: 7px;
  border: 2px solid rgba(0, 0, 0, 0.726);
  padding: 5px;
  height: 570px;
  width: 400px;
  background: rgb(101, 196, 144);
}
