body{
    background-color: #ff4d4d;

    background-image:url("./../images/ocean.gif");
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

h1 {
   color: white;
   text-shadow: 5px 5px 5px #000000;
}